# Car Listings Preprocessing

## Goal:
##### ๐ป Process the cars DataFrame to prepare it for analysis.

## Steps:
    โผ General understanding of data ' Explore the dataset '
    โผ Handle noise data for each column
    โผ Remove unnecessary columns
    โผ Handle missing data
    โผ save new df

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
pd.set_option("display.max_columns", None)
df = pd.read_csv('../csv_files/draft_df.csv')
df

,Make,Year,Price,Color,Fuel Type,Car Origin,Car License,Transmission Type,Glass,Engine Power,Mileage,Payment Method,Available,Previous Owners,Additions,Air Conditioner,Central Locking,Alarm System,CD Player,Sunroof,Alloy Wheels,Leather Seats,Airbag,Passenger Count,Drive Type
0,ููุง ุจุฑุงูุฏ,2008,44000,ุฃุณูุฏ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1600,ูกูจูฃููู,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,ูุฏ ุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุฑุด ...,1,1,1,1,0,0,1,1,NaN,NaN
1,ูููุฏุงู ุงูุณูุช,2013,58000,ูุถู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,42000,ููุฏุง ููุท,ููุจูุน ุฃู ุงูุชุจุฏูู,ูุฏ ุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nุฌูุทุงุช ู ุบููุณูู...,1,1,1,0,0,1,1,1,4+1,NaN
2,ุจูุฌู 508,2013,40000,ุฃุณูุฏ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ูุตู ุงูุชูู ุงุชูู,ุงููุชุฑููู,2000,85000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,ูุฏ ุซุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุชุญุฉ...,1,1,1,1,1,1,1,1,4+1,NaN
3,ุณููุฏุง ุงููุชุงููุง,2010,70000,ุฃุฒุฑู,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1900,30000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,3,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,1,1,4+1,NaN
4,ุณูุจุงุฑู ุงู ุจุฑูุฒุง,1999,33000,ุฑุตุงุตู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1600,NaN,ููุฏุง ููุท,ููุจูุน ููุท,NaN,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,0,1,4+1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6859,ููุงุช ููุงุช 132,1973,27000,ุฃุญู ุฑ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ูุฏูู,1800,50000,ููุฏุง ููุท,ููุจูุน ููุท,NaN,ู ุณุฌู CD\nูุฑุด ุฌูุฏ,0,0,0,1,0,0,1,0,NaN,NaN
6860,ูููุฏุงู ุณุงูุชุงููู,2016,117000,ุฃุณูุฏ,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,2000,140,ููุฏุง ููุท,ููุจูุน ููุท,NaN,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nูุชุญุฉ ุณูู\nุฌูุท...,1,1,1,0,1,1,1,1,6+1,ุฏูุน ุฃู ุงู ู
6861,ูููุฏุงู ุงูุณูุช,2017,67000,ูุถู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,40,ููุฏุง ููุท,ููุจูุน ููุท,1,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,1,1,4+1,NaN
6862,ุณููุฏุง ูุงุจูุง,2015,58000,ุฃุจูุถ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1200,60 ุงูู,ููุฏุง ููุท,ููุจูุน ุฃู ุงูุชุจุฏูู,2,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,0,1,4+1,NaN
6863,ุณูุช ุงุจูุฒุง,2016,65000,ุณููู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1400,82ุงูู,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,1,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nุฌูุทุงุช ู ุบููุณูู...,1,1,1,0,0,1,1,1,NaN,NaN

#### General understanding of data

In [3]:
df.shape

(6864, 25)

In [4]:
df.describe()

,Year,Price,Engine Power,Air Conditioner,Central Locking,Alarm System,CD Player,Sunroof,Alloy Wheels,Leather Seats,Airbag
count,6864.000000,6864.000000,6864.000000,6864.000000,6864.000000,6864.000000,6864.000000,6864.000000,6864.000000,6864.000000,6864.000000
mean,2008.616259,66933.643211,1740.494755,0.839307,0.813811,0.673223,0.843386,0.264423,0.731206,0.522290,0.771125
std,8.690874,57022.973482,589.470714,0.367275,0.389287,0.469069,0.363463,0.441058,0.443365,0.499539,0.420139
min,1967.000000,1111.000000,106.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2005.000000,36000.000000,1400.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,2011.000000,55000.000000,1600.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
75%,2015.000000,83000.000000,2000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2022.000000,999999.000000,9000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df.head(20)

,Make,Year,Price,Color,Fuel Type,Car Origin,Car License,Transmission Type,Glass,Engine Power,Mileage,Payment Method,Available,Previous Owners,Additions,Air Conditioner,Central Locking,Alarm System,CD Player,Sunroof,Alloy Wheels,Leather Seats,Airbag,Passenger Count,Drive Type
0,ููุง ุจุฑุงูุฏ,2008,44000,ุฃุณูุฏ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1600,ูกูจูฃููู,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,ูุฏ ุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุฑุด ...,1,1,1,1,0,0,1,1,NaN,NaN
1,ูููุฏุงู ุงูุณูุช,2013,58000,ูุถู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,42000,ููุฏุง ููุท,ููุจูุน ุฃู ุงูุชุจุฏูู,ูุฏ ุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nุฌูุทุงุช ู ุบููุณูู...,1,1,1,0,0,1,1,1,4+1,NaN
2,ุจูุฌู 508,2013,40000,ุฃุณูุฏ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ูุตู ุงูุชูู ุงุชูู,ุงููุชุฑููู,2000,85000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,ูุฏ ุซุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุชุญุฉ...,1,1,1,1,1,1,1,1,4+1,NaN
3,ุณููุฏุง ุงููุชุงููุง,2010,70000,ุฃุฒุฑู,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1900,30000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,3,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,1,1,4+1,NaN
4,ุณูุจุงุฑู ุงู ุจุฑูุฒุง,1999,33000,ุฑุตุงุตู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1600,NaN,ููุฏุง ููุท,ููุจูุน ููุท,NaN,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,0,1,4+1,NaN
5,ุณูุช ูููู,2017,78000,ุฃุณูุฏ ู ูุชุงูู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1200,105,ููุฏุง ููุท,ููุจูุน ููุท,ุซุงูุซู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,1,1,4+1,NaN
6,ู ุฑุณูุฏุณ 220,1999,50000,ุฎู ุฑู,ุฏูุฒู,ุนู ูู ู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,2200,NaN,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,NaN,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,1,1,NaN,NaN
7,ุงูุฏู 80,1985,18000,ุจุฑุชูุงูู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ูุฏูู,1600,NaN,ููุฏุง ููุท,ููุจูุน ููุท,NaN,ุฅุบูุงู ู ุฑูุฒู\nู ุณุฌู CD\nุฌูุทุงุช ู ุบููุณููู,0,1,0,1,0,1,0,0,4+1,NaN
8,ูููุฏุงู ููุจูู,1999,30000,ุฃุญู ุฑ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,2000,NaN,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,NaN,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุชุญุฉ...,1,1,1,1,1,1,1,1,4+1,NaN
9,ููููุณูุงุฌู ูุจููุฉ,1979,60000,ุฃุตูุฑ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ูุฏูู,1600,50000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,ูฃ,ุฌูุทุงุช ู ุบููุณููู \nูุฑุด ุฌูุฏ,0,0,0,0,0,1,1,0,5+1,ุฏูุน ุฃู ุงู ู
10,ููููุณูุงุฌู ุฌููู,2010,70000,ุฃุณูุฏ ู ูุชุงูู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,180000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,NaN,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nู ุณุฌู CD\nุฌูุทุงุช ู ุบููุณููู \n...,1,1,0,1,0,1,0,1,4+1,NaN
11,Dodge ุฑุงู,2015,125000,ุฃุจูุถ,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,6700,120000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,ูุฏ ุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,1,1,4+1,ุฏูุน ุฑุจุงุนู 4x4
12,ุณูุช ูุฑุทุจุฉ,2001,25000,ุฃุฒุฑู,ุฏูุฒู,ุนู ูู ู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1900,0000014,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,ูค,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุฑุด ...,1,1,1,1,0,0,1,1,4+ูก,NaN
13,ูููุฏุงู ุฌูุชุณ,2007,32000,ุฐูุจู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,220000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,6,ู ููููู,1,0,0,0,0,0,0,0,4+1,NaN
14,ุณููุฏุง ุงููุชุงููุง,2005,42000,ุฃุจูุถ,ุฏูุฒู,ุนู ูู ู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1900,NaN,ููุฏุง ููุท,ููุจูุน ุฃู ุงูุชุจุฏูู,NaN,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nู ุณุฌู CD\nุฌูุทุงุช ู ุบููุณููู \n...,1,1,0,1,0,1,0,1,4+1,NaN
15,ุจูุฌู 208,2016,39500,ุฃุจูุถ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1200,100 ุงูู,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,ูุฏ ุซุงููุฉ,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,0,1,4+1,NaN
16,ุณููุฏุง ุฑุงุจูุฏ,2017,78000,ุณููู,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,ูกูคููู,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,ูข,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nุฌูุทุง...,1,1,1,1,0,1,0,1,4+1,NaN
17,ุณููุฏุง ููููุณูุง,2000,25000,ุฃุจูุถ,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ูุฏูู,1600,NaN,ููุฏุง ููุท,ููุจูุน ููุท,3,ู ููููู\nู ุณุฌู CD\nูุณุงุฏุฉ ุญู ุงูุฉ ููุงุฆูุฉ,1,0,0,1,0,0,0,1,2,NaN
18,ููููุณูุงุฌู ุชูุฌูุงู,2017,155000,ููุฑุงูู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,2000,48000,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,ุงููู,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุชุญุฉ...,1,1,1,1,1,1,1,1,4+1,NaN
19,ุจูุฌู 207,2008,23000,ุฎู ุฑู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1600,120,ููุฏุง ููุท,ููุจูุน ููุท,ูค,ู ููููู\nุฅุบูุงู ู ุฑูุฒู\nุฌูุงุฒ ุฅูุฐุงุฑ\nู ุณุฌู CD\nูุชุญุฉ...,1,1,1,1,1,1,1,1,4+1,ุฏูุน ุฃู ุงู ู

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6864 entries, 0 to 6863
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               6864 non-null   object
 1   Year               6864 non-null   int64
 2   Price              6864 non-null   int64
 3   Color              6864 non-null   object
 4   Fuel Type          6864 non-null   object
 5   Car Origin         6864 non-null   object
 6   Car License        6864 non-null   object
 7   Transmission Type  6864 non-null   object
 8   Glass              6864 non-null   object
 9   Engine Power       6864 non-null   int64
 10  Mileage            4923 non-null   object
 11  Payment Method     6864 non-null   object
 12  Available          6864 non-null   object
 13  Previous Owners    5214 non-null   object
 14  Additions          6363 non-null   object
 15  Air Conditioner    6864 non-null   int64
 16  Central Locking    6864 non-null   int64
 17  Alarm System       6864 non-null   int64
 18  CD Player          6864 non-null   int64
 19  Sunroof            6864 non-null   int64
 20  Alloy Wheels       6864 non-null   int64
 21  Leather Seats      6864 non-null   int64
 22  Airbag             6864 non-null   int64
 23  Passenger Count    6087 non-null   object
 24  Drive Type         1431 non-null   object
dtypes: int64(11), object(14)
memory usage: 1.3+ MB

In [7]:
df.isna().sum()

Make                    0
Year                    0
Price                   0
Color                   0
Fuel Type               0
Car Origin              0
Car License             0
Transmission Type       0
Glass                   0
Engine Power            0
Mileage              1941
Payment Method          0
Available               0
Previous Owners      1650
Additions             501
Air Conditioner         0
Central Locking         0
Alarm System            0
CD Player               0
Sunroof                 0
Alloy Wheels            0
Leather Seats           0
Airbag                  0
Passenger Count       777
Drive Type           5433
dtype: int64

- The following columns contain NaN values: 'Mileage', 'Previous Owners', 'Additions', 'Passenger Count' and 'Drive Type'.
- The 'Mileage' column has an 'object' data type; it should be converted to a numeric format.
- For the 'Previous Owners' and 'Passenger Count' columns, similar to the 'Mileage' column, we need to handle noisy data.
- The 'Additions' and 'Drive Type' columns should be dropped.

### We will start working on each column separately to make sure that there's no noisy or missing data

#### Make

In [8]:
#df['Make'].unique()
df['Make'].nunique()

619

split the Make to contain just the brand name

In [9]:
#df['Make'].apply(lambda x: x.split(' ')[0]).unique()
df['Make'] = df['Make'].apply(lambda x: x.split(' ')[0])
df['Make'].nunique()

41

#### Year

In [10]:
df['Year']

0       2008
1       2013
2       2013
3       2010
4       1999
        ...
6859    1973
6860    2016
6861    2017
6862    2015
6863    2016
Name: Year, Length: 6864, dtype: int64

add age column to compute the age of the car ' will help us later '

In [11]:
Current_Year = 2023
df['age'] = Current_Year - df['Year']
df['age'] = df['age'].astype(np.int64)

Drop year because no need for it now

In [12]:
df = df.drop('Year', axis=1)

#### Price

In [13]:
df['Price'].unique()

array([ 44000,  58000,  40000,  70000,  33000,  78000,  50000,  18000,
        30000,  60000, 125000,  25000,  32000,  42000,  39500, 155000,
        23000,  68000,  95000, 175000,  65300,  13000,  90000,  85000,
        10000,  36500,  63000,  47000,  48000,  98000, 115000,  27000,
        24000,  35000,  86000,  19000,  39000,  45000,  56000, 100000,
       230000, 110000,  62000,  38000,  75000, 120000,  83000, 109999,
        37000, 350000, 170000,  65000,  80000,  20000,  44999, 113000,
        55000,  26000,   5000,  35500,  97000,  69000,  41000,  89000,
         6000,  72000,  75500, 107000,   9500, 163500,  62500,  49000,
        43500,  43000,  79000,  17000, 117000,  79500, 162000,   2500,
        14000,  12000, 153000,  26500,  92000, 145000,  64000, 138000,
       105000, 270000,  54000,  28500, 135000, 118000,  19500,  59000,
        81000,  57000, 124000,  22000,  99999, 275000,   7000,  48500,
         8500,  94000, 180000,  16000,  46000,  93000, 130000,  61000,
       195000,  11000,  28000, 285000,  54500,  77000,  74000,  16500,
         9000,  83500, 104000,  71000, 104999, 150000, 143000,  66000,
        82000,  31000, 290000, 169000, 360000,  84000, 190000, 112000,
        15000,  87000,  21000, 146000,  76000, 144999,  73000,  12345,
        51000,  39999,  67000,  52000,  36000,  74500, 850000, 123000,
         8000, 160000,  44500,  34000,  47500, 200000,  95500, 209999,
       139000,  53000,  89500,   1111,  58999,  38700, 134000,  89900,
        22500, 147000,  88000, 680000, 117500, 250000, 240000, 245000,
       165000,  38500, 220000, 129000,  49900,  88500, 157000, 225000,
        29000, 102000, 132000,  97999,  35200, 108000, 149999, 205000,
       140000, 119000, 124999, 139999,  63999,   4000, 340000,  13500,
        59999,  99000,   4700,   2700,  69999, 999999, 185000,  27500,
         1700,  39900, 129900,   2000, 103000,  69900,   4500,  68500,
       459000,   3500, 258000,  77500,  20500,  18500, 142000, 144000,
        56500, 128000,  99900, 215000,  41999,  31999,   2800, 210000,
         1500,  15500, 148000,  98765, 420000,  37500, 249000, 345000,
        45200,  32500,  74999,  69500,  67999, 116000,  16800, 109000,
       133000, 122000,  73900,  65999,  96000,  89999, 127000,  47900,
       137000, 370000,  46499, 660000,  72999, 239000,   2300,   6500,
        73500, 320000,  81900, 115115,  55999,  91999, 173999, 172000,
       158000, 114999,  34500,  10500, 114000, 156000,   5500,  98999,
       100005,  53999,  45500, 123456,  11500,  49700,  49500,   7500,
       265000,  75999, 119999,  59500, 267000,  58500, 179000, 330000,
       249999, 115500,  46500, 630000,  63500,  73999,  79900, 103999,
         1200, 152000, 127999,   3300, 143999, 260000,  59900,   7300,
       159000,  82999, 490000, 385000, 178000,   3800, 106000, 133500,
        33500,  85999, 126000, 189000,   5700, 439999,   3200,  31500,
       164999, 163000, 127500,  25500,  77999,  51500, 159999,  46999,
        42500, 280000,  66500, 125500,  90001,  40500,  11111,  52500,
        79999,   2200, 550000, 219000, 750000, 223000,  41500, 149000,
       136000,  50500,  49999,  48200,  67500,  94500,   3000, 131000,
        74900, 135999, 114900, 167000,  82500,   1900,   7200, 139500,
        29990,  66999,  57500,  14500,   4800,  67100, 123500, 192000,
       173000,  64900, 123999,  63100,   2600, 181500,   3600, 310000,
       102999,  83999,  12500, 109900, 235000, 114500,  72500,  59238,
        17500,  35400,  47999,  24500,  52999, 121000, 141000, 450000,
        66666,  64500, 228000,  54900,  35555,  93500,   1300, 134999,
        43900,   9900,  42999, 168000,  12600,  29500,   5200,  26999,
       700000,  11300,  78500,  86800, 255000,  76900,   4200,  58900,
       880000, 218000,  86999,  88999,  34900,  17800,  57998,  24999,
       126999, 184999,  84999,  60500, 480000, 123400, 106999,  90900,
       129999,  93200, 188000, 299999,  71990, 238000,  61500, 106500,
         2100, 173500,  81999, 116999,  46600,  88996,   1800,  18999,
        51900, 135500, 107999, 300000, 570000,  91000,  44900,  29999,
        51999,   1600, 154000, 196000,   5600,  21500,  15238, 600000,
       176000])

#### Color

In [14]:
df['Color'].unique()

array(['ุฃุณูุฏ', 'ูุถู', 'ุฃุฒุฑู', 'ุฑุตุงุตู', 'ุฃุณูุฏ ููุชุงูู', 'ุฎูุฑู', 'ุจุฑุชูุงูู',
       'ุฃุญูุฑ', 'ุฃุตูุฑ', 'ุฃุจูุถ', 'ุฐูุจู', 'ุณููู', 'ููุฑุงูู', 'ุฃุจูุถ ุนุงุฌู',
       'ุฑูุงุฏู', 'ุฃุฎุถุฑ', 'ุนุฏุฉ ุงููุงู', 'ุจุชุฑููู', 'ูุญูู', 'ุฒูุชู',
       'ุฃุฒุฑู ุณูุงูู', 'ุจูุฌ', 'ุจูู', 'ูุฑููุฏู', 'ุจููุณุฌู', 'ุฌูุดู'],
      dtype=object)

#### Fuel Type

In [15]:
df['Fuel Type'].unique()

array(['ุจูุฒูู', 'ุฏูุฒู', 'ูุงูุจุฑุฏ', 'ููุฑุจุงุก'], dtype=object)

#### Car Origin

In [16]:
df['Car Origin'].unique()

array(['ุฎุตูุตู', 'ุนูููู', 'ุชุฃุฌูุฑ', 'ุญูููู', 'ุชุฌุงุฑู', 'ุชุฏุฑูุจ ุณูุงูุฉ'],
      dtype=object)

#### Car License

In [17]:
df['Car License'].unique()

array(['ููุณุทูููุฉ', 'ููุฑุฉ ุตูุฑุงุก'], dtype=object)

#### Transmission Type

In [18]:
df['Transmission Type'].unique()

array(['ุงูุชููุงุชูู', 'ูุตู ุงูุชููุงุชูู', 'ุนุงุฏู'], dtype=object)

#### Glass

In [19]:
df['Glass'].unique()

array(['ุงููุชุฑููู', 'ูุฏูู'], dtype=object)

#### Engine Power

In [20]:
df['Engine Power'].unique()

array([1600, 1400, 2000, 1900, 1200, 2200, 6700, 2500, 1800, 1690, 2800,
       3000, 1500,  999, 1250, 3100, 1000, 2400, 2300, 3600, 3700, 1300,
        230, 2900, 1190,  250, 4000, 3200,  200, 1700, 1150, 6500, 7777,
       6000,  120, 1100,  420, 2700,  903, 3500,  390, 2850, 1995,  800,
        240, 1450, 1009, 1108, 1595,  900,  180, 1605, 1350, 1989, 2600,
       4600, 2150, 6600,  220,  125, 5000, 1495, 1850, 2996, 1999, 2250,
        210, 1235, 1234, 4200, 4800, 1990,  400,  905,  290, 1240, 2005,
       1006, 3300,  280,  140, 4500,  106,  270,  321,  480, 2100, 1498,
        460, 5983, 1518, 2476, 1275, 6400,  300, 2265, 1018, 5500, 5200,
       1950,  260, 2390,  998,  906, 2260,  440, 9000, 2459, 5800, 2006,
       1116,  500, 1242, 4700, 1928, 4400, 4016, 1050, 7000, 1360,  166,
       4750,  150, 2770, 1499, 1840, 1248, 1609,  170, 5985, 1004,  320,
       1444, 3222, 1003, 2008,  160, 1390, 2190,  340, 5555,  249,  550,
        380])

#### Mileage

In [21]:
df['Mileage'].unique()

array(['ูกูจูฃููู', '42000', '85000', ..., 'ูฃูู ุงูู', 'ูฆููู', '82ุงูู'],
      dtype=object)

- The data currently have an 'object' data type as we said before and need to be converted to either 'int' or 'float' for numeric operations.
- The data contains Arabic numerals ('ูกูจูฃููู'), and these need to be translated into their numeric equivalents. 
- The data contains Arabic words ('ุงูู'), which should be converted to '000' or the numbers should be multiplied by 1000.

In [22]:
df['Mileage']

0       ูกูจูฃููู
1        42000
2        85000
3        30000
4          NaN
         ...
6859     50000
6860       140
6861        40
6862    60 ุงูู
6863     82ุงูู
Name: Mileage, Length: 6864, dtype: object

In [23]:
def clean_mileage(mileage):
    try:
        # Remove spaces, translate Arabic numerals to English
        translation_dict = {'ู': '0', 'ูก': '1', 'ูข': '2', 'ูฃ': '3', 'ูค': '4', 'ูฅ': '5', 'ูฆ': '6', 'ูง': '7', 'ูจ': '8', 'ูฉ': '9'}
        mileage = ''.join(translation_dict[char] if char in translation_dict else char for char in mileage.replace(' ', ''))

        # Remove Arabic words and commas
        mileage = mileage.replace('ุงูู', '000').replace(',', '')

        # Convert to integer
        mileage = int(mileage)

        return mileage
    except:
        return None

In [24]:
df['Mileage']= df['Mileage'].apply(clean_mileage)

In [25]:
df['Mileage']

0       183000.0
1        42000.0
2        85000.0
3        30000.0
4            NaN
          ...
6859     50000.0
6860       140.0
6861        40.0
6862     60000.0
6863     82000.0
Name: Mileage, Length: 6864, dtype: float64

#### Payment Method

In [26]:
df['Payment Method'].unique()

array(['ุฅููุงููุฉ ุงูุชูุณูุท', 'ููุฏุง ููุท'], dtype=object)

#### Available

In [27]:
df['Available'].unique()

array(['ููุจูุน ููุท', 'ููุจูุน ุฃู ุงูุชุจุฏูู', 'ููุชุจุฏูู ููุท'], dtype=object)

#### Previous Owners

In [28]:
df['Previous Owners'].unique()

array(['ูุฏ ุงููู', 'ูุฏ ุซุงููู', '3', nan, 'ุซุงูุซู', 'ูฃ', 'ูค', '6',
       'ูุฏ ุซุงููุฉ', 'ูข', 'ุงููู', '0', 'ูุฏ 5', 'ูุฏ 4', '11', '2', 'ุซุงููุฉ',
       'ูุฏ ุซุงูุซุฉ', 'ูุฏ 2', 'ูุฏ ุชุงููู', '1', 'ูุฏ ุฃููู', 'ูุฏูข', 'ุงูุฏ ุงููู',
       'ูุฏ 0', '5', 'ูุฏ ุซุงูุซู', '---', '03', 'ุงูุฏ ุซุงููู', '000', 'ูุฏูฃ',
       'ุ', 'ูุฏ ุฃููุฆ ุฃุตุญุงุจ ุณุงุจููู ุตูุฑ', 'ุงูุฏ ุซุงููุฉ', 'ูก', 'ูุฏ ุงููู',
       'ูุฏ ุฑุงุจุนู', 'ุชุงูุจู', '4', 'ุบูุฑ ูููุฑู', 'ูุฏ ุชุงููุฉ', 'ูฅ', 'ุตูุฑ',
       'ุฃุณุชูุฑุงุฏ ุฃููุงูู', 'ูุฏ ุงููู ุงููุงูู', '00', '9', 'ูุฏ 8', '7',
       'ุงุณุชูุฑุงุฏ ูุจุงุดุฑ ูู ุงูุฑูุจุง', 'ูุฏ ุนุงุดุฑุฉ', 'ูุฏ ุฎุงูุณุงู', 'ุซุงูุซุฉ',
       'ูุฏ ุงููู', 'ุงุฑุจุนุฉ', 'ูุฏ ุตูุฑ', '00000000', 'ูุณุชูุฑุฏุฉ ุบูุฑ ูููุฑุฉ',
       'ูุด ูููุฑู', '10', 'ูุฏ ุชุงูุชู', 'ูุณุชูุฑุฏ', '000000', '8',
       'ูุณุชูุฑุฏุฉ ูุฏ ุงููู', 'ูุณุชูุฑุฏุฉ ุบูุฑ ูุฑุฎุตุฉ', 'ุฃููู', 'ูุฏ 3',
       'ุงุณุชูุฑุงุฏ ูุจุงุดุฑ', '.', 'ุชุงููู', 'ูุฏุงููู', 'ุบูุฑ ูููุฑูุณุชูุฑุฏุฉ', 'E',
       '1000', 'ุตูุฑุฑ', 'ูุด ูููุฑุฉ', 'ูุฏ ุฎุงูุณู', 'ุฎุตูุตู', 'ุฎุงูุณุฉ', 'ุซุงููู',
       'ูุฏ ูข', 'ุฑุงุจุนู', 'ูุฏุซุงููุฉ', 'ูุฏ ุงุฉูู', '0000', 'ูู', 'ูุฏ ุฃููุฆ',
       'ูุด ูููุฑ', 'ูุฏ3', 'ูุฏ ุซุงูู', 'ูุฏ ุซุงูุซ', 'ุงุณุชุฑุงุฏ ุดุฎุตู', 'ูุฏุซุงูุซุฉ',
       'ุงุณุชูุฑุงุฏ ุงููุงูู', 'ูุฏ ุฎุงูุณุฉ', 'ูุฏ ุงููุง', 'ูุฏ ุฑุงุจุนุฉ', 'ูฆ',
       'ุงุณุชูุฑุงุฏ', 'ูุฏ ุงููุฉ', 'ูุฏ ูุงุญุฏ', 'ุบูุฑ ูููุฑ ุงุณุชูุฑุงุฏ ุงููุงูู', 'ุง',
       'ูุฏุชุงููู', '11111', 'ุซุงูู', 'ูุณุชูุฑุฏุฉ', '**********', 'ูกูง',
       'ุงุณุชูุฑุงุฏ ูุจุงุดุฑ ูู ููุฑูุง', 'ูุฏ ูฃ', 'ูจ', '-', 'ูุฏ ุซุงูุซุฉ ( ูุชูุงุช)',
       'ุฑุงุจุนุฉ', 'ููููู', 'ูุฏ ุงููู ุตูุฑ ูููู', 'ูุฏ ุงุฑุจุนู', 'ู', '12',
       'ุฎุงูุณู', 'ุงูุฏ ุฑุงุจุนู', 'ูง', 'ุตูุฑุถ', '00000', 'ูุฏ ุงูุชุงูุชู', 'ูกูก',
       'ุบูุฑ ูููุฑุฉ', 'ูุฏ ุงูููุ ุงุณุชูุฑุงุฏ ุดุฎุตู', 'ูกูข', '0ุงุณุชูุฑุงุฏ', 'ุบูุฑ ูููุฑ',
       'ูุนู', 'ุชุงูุซู', 'ุซุงูุซู', 'ุงูุฏ 2', 'ูุฏ ูก', 'ุชุงูุชู', '15',
       'ูุงุฑุฏ ุงููุงููุง', '0000000', 'ุณุญุจ ุดุฑูุฉ', '4 ููุณ ุงูุดุฎุต', 'ุงุซูุงู',
       'ูกู', 'ูุฏ ุงูู', '..', 'ูุณุชูุฑุฏู ูุฏ ุงููู', 'ูุฏ ุซุงูู.', '18',
       '......', 'ูุฏ2', 'ูกูจ', 'ูุฏ ุงููู ( ุดุฑูุฉ )', '?', 'ุงููู\x89', 'O',
       'ูุฏ ุงููู ููุงูุฉ', 'ุงูู', 'ูุฏ 6', '...', '0 ุงุณุชูุฑุงุฏ', 'ูุงููู',
       'ูุฏ ูค', 'ูุฏ ุซุงูุซู', 'ูุฏ ุณุงุฏุณุฉ', 'ููููููููู', 'ูุฏ ุนุงุดุฑู',
       'ูุฏู ุงููู', 'ุ', 'ุงูุฏุซุงููู', 'ูุณุชูุฑุฏู', 'ูุฏ ุงููุฆ', 'ุณุงุจุนู',
       'ููููููู', 'ูุฏ ุงูููู', 'ุงุณุชูุฑุงุฏ ููุฑูุง', 'ููุจูุน', 'ูุฏ ูฅ',
       'ูุณุชูุฑุฏ ุดุฑูุฉ', 'ูููููููููู', 'ูุฏ ูกูง', '2ูุฏ', 'ูกูฅ', 'ูุฏ. ุงููู',
       'ูุฏ ุง', 'ูููุฑู', 'ุงุตุญุงุจ ุณุงุจููู ุตูุฑ', 'ุงุดุฎุงุต', 'ูุฏ ุซุงููู',
       'ูุฏุซุงูุซู', 'ุงููุง', '********', 'ูุฏุซุงููู', 'ูุณุชูุฏ ุบูุฑ ูููุฑ', '56',
       'ูุฏุฃููู', 'ูุงุญุฏ', '0778244', 'ูุง ุดูุก', 'ูุฏุงููุง', '159000',
       'ูุฏ ุณุงุจุนู', '******', '12345', 'ุงูุฏ ุงููู', 'ูุฏ ูง', 'ูุฏ ุชุงูู',
       'ุงููู', '78888877766', 'ูุฏู ุงููู', 'ูุฏ ูุงุญุฏุฉ', 'ุจุฏ ุงููู ูุณุชูุฑุฏ',
       'ูุง ููุฌุฏ', 'ูุฏ ุงููู ูู ุงูุดุฑูุฉ ุงููุชุญุฏุฉ', 'ูุฏ ุฃููู ุงุณุชูุฑุงุฏ', 'ุฎูุณุฉ',
       '0 ูุณุชูุฑุฏ ููุฑู', 'ุ 0', 'ุงูุฏ ุซุงูุซู', 'ูุฏ ุฎูุณุฉ', 'ูุฏุงููู ุณุญุจ ุดุฑูู',
       'ูุฏ ููู', '123423', 'ูุฏ ุซุงููุง', '01', 'ูุฏ ุงููู ุงุตุญุงุจ ุณุงุจููู 0',
       'ูฉ', 'ูุฏ ุงููู  ุงุตู ุดุฑูุฉ', 'ุงูุฏ ุฃููู', 'ุชุงููุฉ', 'ูุฏ4',
       'ูู ุงูุดุฑูู ูุจุงุดุฑ ูุง ููุฌุฏ ุงุตุญุงุจ ุณุงุจููู',
       'ุงุณุชูุฑุงุฏ ููุฑูุง - ุฌุฏูุฏ ูุด ูููุฑ', '.........', 'ูุงุฑุฏ ููุฑูุง ูุฏ ุงููู',
       'ูุฏ ุงููู ููุท', '@', 'ูุฏ 1', 'ุฎูุณ', 'ุงูุง', 'ูุฏ ูุงูู', '04',
       '0ูุณุชูุฑุฏ', '17', 'Zero', 'ูุฏ  ุซุงููุฉ', ',3', 'ูุฏ', 'ูุฏ ุซุงุชูู',
       'ูุฏ ุชุงุณุนุฉ', 'ุดุทุจ', '14', '0 ุงุณุชูุฑุงุฏ ููุฑู', 'ูุฏ ุงููู 1', '170000',
       'ุงุตู ุชุฏุฑูุจ ุณูุงูู', 'ูููู', 'ูููููู', '1 ุฃููู', 'ุงูุซุงููุฉ',
       'ูุฏ ุฃููู ุจุนุฏ ุงูุงุณุชูุฑุงุฏ', 'ูุฏ ุงููู ุงุณุชูุฑุงุฏ ุดุฎุตู', 'ูุฏ ููุง',
       'ูุฏ ุฃูููุ...', '0 ูุณุชูุฑุฏู', 'ูุฏ6', 'ูุฏ ุณุงุจุนุฉ',
       'ูุฏ ูค ุจุณ ูุฎุจ ุงูุณูุงุฑุฉ', 'ูุด ูููุฑ . (ุตูุฑ)', 'ุงุณุชุฑุงุฏ', '19', 'ูคูคูคูคูค',
       'ูุฏูค', 'ูุด ูููุฑุง', 'ูุฏูุงููู', 'ุซุงูุซ', 'ูููููฉ', 'ููุท ูุฏ ุงููู',
       'ูุฏุฎุงูุณู', 'ูุฏ ุงููู / ุงุณุชูุฑุงุฏ', '13', 'ุฎูุณู', '....', 'ูุฏ  ูก',
       'ุงูุฏ 3', 'ุนุฏุฏูฃ', 'Ooo', 'ูุงููุฌุฏ', 'ูุฏ ุฃููู', 'ุงุตู ุดุฑูุฉ', 'ูุดุทูุจ',
       'ูุฏ ุงููู ุดุฑูุฉ', 'ูุฏ ุซูู', 'ุงุณุชูุฑุงุฏ ุงููุงููุง', 'ุซูุงููู',
       'ุงุณุชูุฑุงุฏ ููุฑู', 'ุฃูุฏ ุชุงููุฉ', 'ูุฏ ูฉ', 'ูุฏูฅ', '16', 'ุชุงูู',
       'ุงูุฏ ุซุงูุซุฉ', 'ูุฏ ุฃููู ููุงูุฉ', 'ุซุงูุจู', 'ูุฏ ุฃููู 1', 'ูููููููู'],
      dtype=object)

- It have alot of different values for each number 
- We will save all of them on df with its replacement number 
- We will use this df to modify the actual 'Previous Owners' column

In [29]:
def save_lists_to_file():
    no_previous_owners = ['00  ', '0 ', '00 ', 'ุตูุฑ ', '0000 ', '00000 ', '0 ูุณุชูุฑุฏู ', '0ูุณุชูุฑุฏ ', 
       'ูุฏ ุตูุฑ  ', 'ูุฏ ุตูุฑ ', '0ุงุณุชูุฑุงุฏ  ', '000000 ', 'ุงุตุญุงุจ ุณุงุจููู ุตูุฑ ', '000 ', 
       'ุตูุฑ  ', 'ุตูุฑุถ ', '0 ูุณุชูุฑุฏ ููุฑู ', '00000000 ', 'ูุฏ ุฃููุฆ ex_owners ุตูุฑ ', 
       'ูุฏ 0 ', 'ุตูุฑุฑ ', 'ุ 0 ', ' 0 ', '0 ุงุณุชูุฑุงุฏ ููุฑู  ', '0000000 ', ' 00 ', 'ูุด ูููุฑ . (ุตูุฑ) ', 
       '0 ุงุณุชูุฑุงุฏ  ', 'ู ', 'ูููู ', 'ููููููููู ', 'ูููููู ', 'ูููููููููู ', 'ูู ','ูููููููู ' ,
       'ููููู ', 'ููููููู ', '... ', '...... ', '......... ', 'Zero ', 'ูุง ููุฌุฏ ', '. ', 'ูุงููุฌุฏ ', 
       '.... ', 'ูู ุงูุดุฑูู ูุจุงุดุฑ ูุง ููุฌุฏ ุงุตุญุงุจ ุณุงุจููู ', 'Ooo ', 'ุงุณุชูุฑุงุฏ ููุฑูุง - ุฌุฏูุฏ ูุด ูููุฑ ', 
       '  O ',  '.. ', 'ูุง ุดูุก ', 'O '
       ]
    one_previous_owner = ['1 ', 'ูุฏ ุงููู ', 1, 'ูุฏ. ุงููู', 'ูุงุญุฏ ', 'ุงููุง ', 'ูก ',
       'ุฃููู ', 'ูุฏ ุฃููู ', 'ุงููู  ', 'ูุฏ ุฃููู  ', 'ูุฏ ุงููู  ', 'ูุฏ ุฃููู ุงุณุชูุฑุงุฏ ', 'ูุฏ ุงููู 1 ', 'ุงููู ', 'ูุฏ 1 ', 'ูุฏุงููู ', 'ูุฏ ุฃููู ููุงูุฉ ', 'ูุฏู ุงููู ', 'ูุฏ ุงููู ุดุฑูุฉ ', 
       'ูุฏ. ุงููู ', 'ูุงููู ', 'ูุฏ ุงููู ููุงูุฉ ', 'ูุฏ ุงููู  ุงุตู ุดุฑูุฉ ', 'ูุฏ ุงููู ุงุตุญุงุจ ุณุงุจููู 0 ', 'ุฃููู  ', 'ูุงุฑุฏ ููุฑูุง ูุฏ ุงููู ', 'ูุฏ ุงููู ุตูุฑ ูููู  ', 'ูุณุชูุฑุฏู ูุฏ ุงููู ', 
       'ุงูุฏ ุงููู ', '1  ', 'ูุฏ ุฃููู ุจุนุฏ ุงูุงุณุชูุฑุงุฏ ', 'ูุฏ ุฃููู 1 ', 'ุงูุฏ ุงููู  ', ' 1 ', 'ูุฏ ุงููู ููุท ', 'ูุฏ ุฃูููุ... ', 'ุงููู\x89 ', 'ููุท ูุฏ ุงููู ', 'ูุฏ ุงูููุ ุงุณุชูุฑุงุฏ ุดุฎุตู ', 
       'ูุฏู ุงููู  ', 'ูุฏ ุงููู ( ุดุฑูุฉ ) ', 'ูุฏุฃููู ', 'ูุฏุงููู ุณุญุจ ุดุฑูู ', 'ูุฏ ุงููู ุงุณุชูุฑุงุฏ ุดุฎุตู ', 'ุงูุฏ ุฃููู  ', '01 ', 'ูุฏ ุงููู ุงููุงูู  ', 'ูุฏ ุงูููู ', 'ูุฏ ุงููู / ุงุณุชูุฑุงุฏ ', 
       '1 ุฃููู  ', 'ูุณุชูุฑุฏุฉ ูุฏ ุงููู ', 'ุจุฏ ุงููู ูุณุชูุฑุฏ ', 'ูุฏ ุงููู ูู ุงูุดุฑูุฉ ุงููุชุญุฏุฉ ',
       'ูุฏ ุงููุง ', 'ูุฏุงููุง ', 'ูุฏ ุงููุง  ', 'ูุฏ ูก ', 'ูุฏ  ูก ', 'ูุฏ ูุงุญุฏ  ', '11111 ', 'ูุฏ ูุงูู ', 'ูุฏ ุงููุฆ ', 'ูุฏ ุงููู', 'ุงูุฏ ุงููู ', 'ูุฏ ุงููุฉ  ', 
       'ุงููู  ', 'ูุฏ ุงูู',  'ูุฏู ุงููู  ', 'ูุฏ ุงููู  ', 'ุงูู ', 'ูุฏ ููุง ', 'ูุฏ ุงูู  ', 'ูุฏ ุงููู ', 'ุงููู ', 'ูุฏ ููู ', 'ูุฏ ุฃููู ', 'ูุฏ ุงูู ', 
       'ูุฏ ุฃููุฆ  ', 'ูุฏ ุง ', 'ูุฏ ุงููู ', 'ูุฏ ูุงุญุฏุฉ  ', 'ูุฏ ', 'ูุฏ ุงููุฉ ',  '4 ููุณ ุงูุดุฎุต ', 'ูุฏ ุงุฉูู ', 'ุฃููุฆ', 'ูุฏ ุฃููุฆ ุฃุตุญุงุจ ุณุงุจููู ุตูุฑ '
       ]
    two_previous_owners = ['2 ', 'ูุฏ ุซุงููุฉ ', 'ูุฏ ุซุงููู ', 'ุซุงููุฉ ', 'ูข ', 'ูุฏ ุซุงููู  ', 'ุซุงููู ', 'ูุฏ ุชุงููู ', ' ูุฏ ุซุงููู ', 
       'ูุฏ ุซุงููุฉ  ', '2  ', 'ูุฏ 2 ', 'ูุฏุซุงููู  ', 'ุงูุฏ ุซุงููู ', 'ูุฏ ูข ', ' ูุฏ ุซุงููุฉ ', 'ูุฏุซุงููู ', 'ูุฏ ุชุงููุฉ ', 
       'ุงูุฏ 2 ', ' 2 ', 'ุฃูุฏ ุชุงููุฉ ', 'ูุฏุซุงููุฉ ', 'ุชุงููู ', '2ูุฏ  ', 'ูุฏุชุงููู ', 'ุซุงููุฉ  ', 'ุงูุฏ ุซุงููุฉ  ', '2ูุฏ ', 
       'ูุฏูข ', 'ูุฏ2 ', 'ุงูุฏุซุงููู ', 'ูุฏ  ุซุงููุฉ ', 'ูุฏ ุชุงููู  ', 'ุชุงููุฉ ', 'ุงูุซุงููุฉ ', 'ูุฏ ุชุงููุฉ  ', '@ ',
       'ุงุซูุงู ', 'ูุฏ ุชุงูู ', 'ูุฏ ุซูู ', 'ูุฏ ุซุงุชูู ', 'ูุฏ ุซุงูู ', 'ุซุงูุจู ', 'ูุฏ ุซุงูู.  ', 'ุชุงูุจู ', 'ูุฏ ุซุงููุง ', 
       'ุชุงูู  ', 'ุซุงูู ', 'ูุฏูุงููู ', 'ูุฏ ุซุงูู  ',
       ]
    three_previous_owners = ['3 ', 'ุซุงูุซุฉ ', 'ูุฏ ุซุงูุซุฉ ', 'ูุฏ ุซุงูุซุฉ  ', 'ูุฏ ุซุงูุซู ', 'ูฃ ', 'ูุฏ ุชุงูุชู ', 'ูุฏ ุซุงูุซุฉ ( ูุชูุงุช) ', 
              'ูุฏ 3 ', 'ุซุงูุซู ', '03 ', 'ุซุงูุซุฉ  ', '13 ', 'ูุฏ ุซุงูุซู  ', 'ูุฏ3 ', 'ูุฏุซุงูุซุฉ ', 'ุนุฏุฏูฃ ', 'ุชุงูุชู ', 
              'ูุฏ ูฃ ', 'ูุฏุซุงูุซู ', 'ูุฏูฃ ', 'ูุฏ ุงูุชุงูุชู ', ' ุงูุฏ ุซุงูุซู ', 'ุชุงูุซู ', '3  ', ',3 ', 'ุงูุฏ ุซุงูุซุฉ  ', 'ุงูุฏ 3 ',
              'ูุฏ ุซุงูุซ ', 'ุซุงูุซ ', 'ุซุงูุซู ',  'ูุฏ ุซุงูุซู ',
              ]
    four_previous_owners = ['4 ', 'ุฑุงุจุนู ', 'ูค ', 'ูุฏ ุฑุงุจุนุฉ  ', 'ุงุฑุจุนุฉ ', 'ูุฏ ุฑุงุจุนู ', 'ูุฏ 4 ', 'ูุฏ ุฑุงุจุนุฉ ', '4  ', 'ุฑุงุจุนุฉ ', 
              'ูุฏ4 ', 'ูุฏ ูค ุจุณ ูุฎุจ ุงูุณูุงุฑุฉ ', 'ูุฏ ูค ', 'ูุฏูค ', 'ูุฏ ุฑุงุจุนู  ', 'ุงูุฏ ุฑุงุจุนู ', '14 ', '04 ', 'ูุฏ ุงุฑุจุนู ', 
              'ุฑุงุจุนู  ', 'ูคูคูคูคูค ']
    five_previous_owners = ['5 ', 'ูุฏ ุฎุงูุณุฉ ', 'ูฅ ', 'ูุฏ 5 ', 'ูุฏ ุฎุงูุณู ', 'ูุฏ ุฎุงูุณุฉ  ', ' 5 ', 'ูุฏุฎุงูุณู ', 'ุฎุงูุณุฉ ', 
                     'ูุฏูฅ ', 'ุฎุงูุณู ', 'ูุฏ ูฅ ', '  5 ', 'ูุฏ ุฎุงูุณุงู  ', 'ูุฏ ุฎูุณุฉ ', 'ุฎูุณู ', 'ุฎูุณุฉ ', 'ุฎูุณ ', ]
    six_previous_owners = ['ูุฏ ุณุงุฏุณุฉ ', '6 ', 'ูฆ ', 'ูุฏ6 ', '  6 ', 'ูุฏ 6 ']
    seven_previous_owners = ['7 ', 'ูง ', 'ูุฏ ุณุงุจุนุฉ ', 'ูุฏ ุณุงุจุนู ', 'ูุฏ ูง  ', 'ุณุงุจุนู ']
    eight_previous_owners = ['ูจ ', '8 ', 'ูกูจ ', 'ูุฏ ุซุงููู ', 'ูุฏ 8 ', 'ุซูุงููู ']
    nine_previous_owners = ['9 ', 'ูฉ ', 'ูููููฉ ', 'ูุฏ ูฉ  ', 'ูุฏ ุชุงุณุนุฉ ']
    ten_previous_owners = ['10 ', 'ูกู ', 'ูุฏ ุนุงุดุฑู ', 'ูุฏ ุนุงุดุฑุฉ ']
    eleven_previous_owners = ['11 ', 'ูกูก ']
    twelve_previous_owners = ['12 ', 'ูกูข ']
    fourteen_previous_owners = ['ูกูฅ ', '15 ']
    sixteen_previous_owners = ['16 ']
    seventeen_previous_owners = ['17 ', 'ูุฏ ูกูง ', 'ูกูง ', 'ูกูง', 'ูกูง ', 'ูกูง ', 'ูุฏ ูกูง ','17 ', 'ูุฏ ูกูง ' , 'ูกูง ', 'ูุฏ ูกูง ', 'ูกูง ']
    eighteen_previous_owners = ['18 ']
    nineteen_previous_owners = ['19 ']
    importation = ['ูุณุชูุฑุฏ ุดุฑูุฉ  ', 'ุงุณุชูุฑุงุฏ ุงููุงูู ', ' ุงุณุชูุฑุงุฏ ุงููุงูู ', 'ูุณุชูุฑุฏ ', 'ุงุณุชูุฑุงุฏ ูุจุงุดุฑ ูู ููุฑูุง  ', 'ุงุณุชูุฑุงุฏ ููุฑู ', 'ูุณุชูุฑุฏุฉ ', 'ุงุณุชูุฑุงุฏ ', 'ุงุณุชูุฑุงุฏ ููุฑูุง ', 'ุงุณุชูุฑุงุฏ ูุจุงุดุฑ ูู ุงูุฑูุจุง  ', 'ูุงุฑุฏ ุงููุงููุง ', 'ุงุณุชุฑุงุฏ  ', 'ุงุณุชูุฑุงุฏ ุงููุงููุง ', 'ุงุณุชูุฑุงุฏ ููุฑูุง  ', 'ูุณุชูุฑุฏู  ', 'ูุณุชูุฑุฏุฉ  ',  'ุฃุณุชูุฑุงุฏ ุฃููุงูู  ', 'ูุณุชูุฑุฏุฉ ุบูุฑ ูุฑุฎุตุฉ ', 'ุงุณุชุฑุงุฏ ุดุฎุตู ','ูุณุชูุฑุฏ  ', 'ูุณุชูุฑุฏู ', 'ุงุณุชูุฑุงุฏ ูุจุงุดุฑ ']
    no_number = ['ุบูุฑ ูููุฑ ุงุณุชูุฑุงุฏ ุงููุงูู ', 'ุบูุฑ ูููุฑุฉ ', 'ุบูุฑ ูููุฑู ', 'ูุด ูููุฑ ', 'ูุด ูููุฑุฉ  ', 'ูุด ูููุฑุฉ ', 
                     'ุบูุฑ ูููุฑ  ', 'ูุณุชูุฏ ุบูุฑ ูููุฑ ', 'ูุด ูููุฑุง ', 'ุบูุฑ ูููุฑุฉ  ', 'ุบูุฑ ูููุฑ ', 'ูุด ูููุฑ  ', 'ุบูุฑ ูููุฑูุณุชูุฑุฏุฉ ',
                     'ูุณุชูุฑุฏุฉ ุบูุฑ ูููุฑุฉ ', 'ูุด ูููุฑู '
                     ]
    have_number = ['ูุนู ', ' ูููุฑู  ']
    null_values = ['- ', '******** ', 'ุง ', '********** ', '****** ', '--- ', 'ุ ', '? ', 'E ', 'ุ ', 
                     'ููุจูุน  ', 'ุงุตู ุชุฏุฑูุจ ุณูุงูู  ', 'ุงูุง ', 'ุณุญุจ ุดุฑูุฉ ', 'ุดุทุจ ', 'ุงุตู ุดุฑูุฉ ', 'ูุดุทูุจ ', 'ุฎุตูุตู  '
                     ]
    large_numbers = ['159000 ', '56 ', '170000 ', '78888877766 ', '0778244 ', '1000 ', '123423 ', '12345 ', 'ุงุดุฎุงุต ']


    def save_to_file(replacement_lists, file_path, file_format='csv'):
        data = {'Value': [], 'Replacement': []}

        for replacement_value, lists in replacement_lists.items():
            for value_list in lists:
                for value in value_list:
                    data['Value'].append(value)  # Append values directly without conversion
                    data['Replacement'].append(replacement_value)

        df = pd.DataFrame(data)

        # Handle cases with multiple values in the 'Value' column 
        def handle_multiple_values(row):
            values = row['Value']
            replacement_value = row['Replacement']

            if isinstance(values, int):
                data['Value'].append(values)  # Append value directly without conversion
                data['Replacement'].append(replacement_value)
            else:
                for value in values:
                    data['Value'].append(value)  # Append value directly without conversion
                    data['Replacement'].append(replacement_value)

        df.apply(handle_multiple_values, axis=1)

        df.to_csv(file_path, index=False)


    replacement_lists = {
        0: [no_previous_owners, no_number, have_number, importation],
        1: [one_previous_owner],
        2: [two_previous_owners],
        3: [three_previous_owners],
        4: [four_previous_owners],
        5: [five_previous_owners],
        6: [six_previous_owners],
        7: [seven_previous_owners],
        8: [eight_previous_owners],
        9: [nine_previous_owners],
        10: [ten_previous_owners],
        11: [eleven_previous_owners],
        12: [twelve_previous_owners],
        14: [fourteen_previous_owners],
        16: [sixteen_previous_owners],
        17: [seventeen_previous_owners],
        18: [eighteen_previous_owners],
        19: [nineteen_previous_owners],
        np.NaN: [null_values, large_numbers],
    }
    save_to_file(replacement_lists, '../csv_files/replacement_values.csv', 'csv')

In [30]:
save_lists_to_file()

In [31]:
df['Previous Owners']

0        ูุฏ ุงููู
1        ูุฏ ุงููู
2       ูุฏ ุซุงููู
3              3
4            NaN
          ...
6859         NaN
6860         NaN
6861           1
6862           2
6863           1
Name: Previous Owners, Length: 6864, dtype: object

In [32]:
replacement_df = pd.read_csv('../csv_files/replacement_values.csv')

In [33]:
replacement_df

        Value  Replacement
0        00            0.0
1          0           0.0
2         00           0.0
3        ุตูุฑ           0.0
4       0000           0.0
..        ...          ...
370  0778244           NaN
371     1000           NaN
372   123423           NaN
373    12345           NaN
374    ุงุดุฎุงุต           NaN

[375 rows x 2 columns]

In [34]:
df['Previous Owners'] = df['Previous Owners'].str.strip()
replacement_dict = dict(zip(replacement_df['Value'], replacement_df['Replacement']))
replacement_dict = {key.strip(): value for key, value in replacement_dict.items()}
replacement_series = pd.Series(replacement_dict.values(), index=replacement_dict.keys())
df['Previous Owners'].replace(to_replace=replacement_series.index, value=replacement_series.values, inplace=True)

In [35]:
df['Previous Owners']

0       1.0
1       1.0
2       2.0
3       3.0
4       NaN
       ...
6859    NaN
6860    NaN
6861    1.0
6862    2.0
6863    1.0
Name: Previous Owners, Length: 6864, dtype: float64

In [36]:
df['Previous Owners'].unique()

array([ 1.,  2.,  3., nan,  4.,  6.,  0.,  5., 11.,  9.,  8.,  7., 10.,
       17., 12., 14., 18., 19., 16.])

done ")

#### Additions

Drop year because no need for it now since each addition feature have separate column

In [37]:
df = df.drop('Additions', axis=1)

#### Binary features 
- Air Conditioner
- Central Locking
- Alarm System
- CD Player
- Sunroof
- Alloy Wheels
- Leather Seats
- Airbag

In [38]:
print(df['Air Conditioner'].unique())
print(df['Central Locking'].unique())
print(df['Alarm System'].unique())
print(df['CD Player'].unique())
print(df['Sunroof'].unique())
print(df['Alloy Wheels'].unique())
print(df['Leather Seats'].unique())
print(df['Airbag'].unique())

[1 0]
[1 0]
[1 0]
[1 0]
[0 1]
[0 1]
[1 0]
[1 0]

There's no Noisy Data

#### Passenger Count

In [39]:
#df['Passenger Count'].nunique()
df['Passenger Count'].unique()

array([nan, '4+1', '5+1', '4+ูก', '2', '8+1', '1+2', '6+1', '7+1', '3+1',
       '2+1', '1+1', 'ูค+ูก', 'ุงูุซุฑ ูู 10', 'ูง+ูก', 'ูง', '6x1', '1', '9+1',
       '1+7', 'ูง+1', '6+ูก', '7.1', 'ูก+ูค', '8', 'ูฆ+ูก', '7,+ 1', '000',
       '6ยฑูก', '+1', '7 =1', 'ูุซุงู: 4 + 1', 'ูจ+ูก', '1ู4', '22', '7:1',
       '4\\ูก', '1+ูค', '4+2', 'ูฅ+ูก', '5+2', '2/1'], dtype=object)

In [40]:
df['Passenger Count'].replace({'ุงูุซุฑ ูู 10': np.nan, 'ูุซุงู: 4 \+ 1': np.nan, '000': np.nan}, inplace=True, regex=True)
df['Passenger Count'] = df['Passenger Count'].str.replace('ยฑ', '+')
df['Passenger Count'].replace({'6x1': '6+1', '7.1': '7+1', '7 =1': '7+1', '7:1': '7+1', '4\\\\ูก': '4+1','2/1':'2'}, inplace=True, regex=True)
df['Passenger Count'] = df['Passenger Count'].replace('[^\d+]', '', regex=True)
arabic_numerals = {'ูก': '1', 'ูค': '4', 'ูฅ': '5', 'ูฆ': '6', 'ูง': '7', 'ูจ': '8', 'ูฉ': '9' , 'ู':'0'}
for arabic, numeral in arabic_numerals.items():
    df['Passenger Count'] = df['Passenger Count'].str.replace(arabic, numeral)

In [41]:
#df['Passenger Count'].nunique()
df['Passenger Count'].unique()

array([nan, '4+1', '5+1', '2', '8+1', '1+2', '6+1', '7+1', '3+1', '2+1',
       '1+1', '7', '1', '9+1', '1+7', '1+4', '8', '+1', '104', '22',
       '4+2', '5+2'], dtype=object)

Convert Strings '+' to Numeric Values

In [42]:
df['Passenger Count'] = df['Passenger Count'].str.extract('(\d+)').astype(float)

In [43]:
df['Passenger Count'].unique()

array([ nan,   4.,   5.,   2.,   8.,   1.,   6.,   7.,   3.,   9., 104.,
        22.])

#### Drive Type

There's alot of nan values '5433' so we will drop it

In [44]:
df = df.drop('Drive Type', axis=1)

In [45]:
df

,Make,Price,Color,Fuel Type,Car Origin,Car License,Transmission Type,Glass,Engine Power,Mileage,Payment Method,Available,Previous Owners,Air Conditioner,Central Locking,Alarm System,CD Player,Sunroof,Alloy Wheels,Leather Seats,Airbag,Passenger Count,age
0,ููุง,44000,ุฃุณูุฏ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1600,183000.0,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,1.0,1,1,1,1,0,0,1,1,NaN,15
1,ูููุฏุงู,58000,ูุถู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,42000.0,ููุฏุง ููุท,ููุจูุน ุฃู ุงูุชุจุฏูู,1.0,1,1,1,0,0,1,1,1,4.0,10
2,ุจูุฌู,40000,ุฃุณูุฏ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ูุตู ุงูุชูู ุงุชูู,ุงููุชุฑููู,2000,85000.0,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,2.0,1,1,1,1,1,1,1,1,4.0,10
3,ุณููุฏุง,70000,ุฃุฒุฑู,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1900,30000.0,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ุฃู ุงูุชุจุฏูู,3.0,1,1,1,1,0,1,1,1,4.0,13
4,ุณูุจุงุฑู,33000,ุฑุตุงุตู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1600,NaN,ููุฏุง ููุท,ููุจูุน ููุท,NaN,1,1,1,1,0,1,0,1,4.0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6859,ููุงุช,27000,ุฃุญู ุฑ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ูุฏูู,1800,50000.0,ููุฏุง ููุท,ููุจูุน ููุท,NaN,0,0,0,1,0,0,1,0,NaN,50
6860,ูููุฏุงู,117000,ุฃุณูุฏ,ุฏูุฒู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,2000,140.0,ููุฏุง ููุท,ููุจูุน ููุท,NaN,1,1,1,0,1,1,1,1,6.0,7
6861,ูููุฏุงู,67000,ูุถู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1400,40.0,ููุฏุง ููุท,ููุจูุน ููุท,1.0,1,1,1,1,0,1,1,1,4.0,6
6862,ุณููุฏุง,58000,ุฃุจูุถ,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุงูุชูู ุงุชูู,ุงููุชุฑููู,1200,60000.0,ููุฏุง ููุท,ููุจูุน ุฃู ุงูุชุจุฏูู,2.0,1,1,1,1,0,1,0,1,4.0,8
6863,ุณูุช,65000,ุณููู,ุจูุฒูู,ุฎุตูุตู,ููุณุทูููุฉ,ุนุงุฏู,ุงููุชุฑููู,1400,82000.0,ุฅู ูุงููุฉ ุงูุชูุณูุท,ููุจูุน ููุท,1.0,1,1,1,0,0,1,1,1,NaN,7

### Work on Missing data

In [46]:
df[df.columns[df.isna().any()]].isna().sum()

Mileage            2119
Previous Owners    1682
Passenger Count     788
dtype: int64

In [47]:
df.dropna(subset=['Mileage', 'Previous Owners', 'Passenger Count'], how='all', inplace=True)

In [48]:
df[df.columns[df.isna().any()]].isna().sum()

Mileage            1782
Previous Owners    1345
Passenger Count     451
dtype: int64

thats make it much better

we will continue on next part after detecting outliers and handling them so they won't effect the data

In [49]:
df.to_csv('../csv_files/car_df.csv', index=False)